<div>
    request : {{ request }}
    </br>
    dic : {{ dic }}
    </br>
    attrs : {{ attrs }}
    </br>
    goods_model : {{ goods_model.id }}
   -----

    
    </br>
</div>


<form action= "{% url 'goods_manage:add_success'  %}" method="post"> {% csrf_token %}

        {% for x in attrs %}

        <div>
            {{ forloop.counter0 }}
            {% for a in x %}
                {{ a.value }}
            {% endfor %}
            属性：<input type="hidden" name="attr" value="{% for a in x %}{% if forloop.last %}{{ a.a_id }}|{{ a.a_name }}|{{ a.id }}|{{ a.value }}{% else %}{{ a.a_id }}|{{ a.a_name }}|{{ a.id }}|{{ a.value }},{% endif %}{% endfor %}">

            价格：<input type="text" name="price" value="0.01">
        
            库存:<input type="text" name="stock" value="99">
     
            图片地址:<input type="text" name="attr_pic" value="null">
        </div>
    {% endfor %}


    <div>
        <input type="submit" value="确定">
    </div>