{% extends 'shop/base.html' %}

{% block body %}
    {% if all_goods %}
        <ul>
            {% for goods in all_goods %}
            <div class="home__item width-35 left-65" data-scroll="HomeItem" data-scroll-rate="0.65">
            <div class="img"  style="padding-top: 20.125%">
                 <a href="{% url 'shop:detail' goods.id %}">
                    <img src="{{ goods.goods_pic }}" class="img-responsive">
                </a>  
            </div> 
            </div> 
              
  
            {% endfor %}
        </ul>
    {% else %}
        <h3>You don't have any goods</h3>

    {% endif %}

{% endblock %}
